<section id="brands" class="brands-section">
  <div class="container">
    <!-- Show loader while images are loading -->
    <div *ngIf="imagesLoading" class="brands-loader-container">
      <app-loader></app-loader>
    </div>
    
    <!-- Show brands carousel when images are loaded -->
    <div *ngIf="!imagesLoading" class="brands-carousel" appFadeIn delay="0.3s" duration="1s">
      <div class="brands-track">
        <span class="brand-label">Our Brands</span>
        <h2 class="brands-title" appFadeIn>Our Trusted Brands</h2>
        
        <div class="brands-logos">
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand1.png" alt="Rizzle">
          </div>
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand2.png" alt="SÉRY">
          </div>
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand3.png" alt="IBA">
          </div>
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand5.png" alt="Purple">
          </div>
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand6.png" alt="Marco">
          </div>
          <div class="brand-item">
            <img src="https://angular-webpage.s3.eu-north-1.amazonaws.com/assets/images/brand4.jpg" alt="Reckitt">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
</section>
