  <h2 appFadeIn class="client">Our Clients Success Stories</h2>
  <section class="profiles-section">
  <!-- Parallax Background -->

  <!-- Parallax Foreground Content -->
  <div class="profiles-content">
    <div class="profile-card">
      <img src="assets/images/khushbooclient.jpeg" alt="Khushboo Kamal" />
      <h2>Khushboo Kamal</h2>
      <p>
        Born in Kanpur, Khushboo Kamal followed her passion for acting to
        Mumbai and carved her niche in both films and television. Starting with
        small roles in <b>Dabangg</b> and
        <b>Ankur Arora Murder Case</b>, she steadily built her career through
        consistency and versatility.
      </p>
      <button class="read-btn"><a href="#portfolio"> Read More</a></button>
    </div>

    <div class="profile-card">
      <img src="assets/images/RahulClient.png" alt="Rahul Sharma" />
      <h2>Rahul Sharma</h2>
      <p>
        Rahul Sharma is a rising star in the modeling industry. Known for his
        elegance and charisma, he has walked the ramp for several fashion
        shows and campaigns. His journey inspires many young talents across
        India.
      </p>
      <button class="read-btn">Read more</button>
    </div>

    <div class="profile-card">
      <img src="assets/images/RheaClient.png" alt="Riya Kapoor" />
      <h2>Riya Kapoor</h2>
      <p>
        Riya Kapoor started as a theatre artist and quickly transitioned into
        mainstream media. Her dedication and talent have earned her recognition
        in both television and digital platforms.
      </p>
      <button class="read-btn">Read more</button>
    </div>
  </div>
</section>
