.about-section {
  padding: 0px 10%;
  background: #fff;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; /* responsive */
  box-shadow: var(
    --drop-shadow-500-box-shadow,
    0px 4px 4px -4px rgba(12, 12, 13, 0.05),
    0px 16px 16px -8px rgba(12, 12, 13, 0.1)
  );
  padding: 5%;
  margin-top: 5%;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

.about-text .label {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #f82d19;
  background: #ffe6e3;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.about-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.cta-btn{
        width: 20%;
    margin-right: 6%;
    border: solid;
    border-color: #f82d19;
    padding: 6px;
    border-radius: 15px;
    background: white;
    color: #f82d19;
}
.cta-btn:hover{
    background-color: #f82d19;
    color: #fff;
}