<nav class="navbar">
  <div class="logo" routerLink="/">
    <img src="assets/images/logo.png" alt="logo" class="logo-img">
  </div>
  <ul class="nav-links">
    <li><a (click)="navigateToSection('about')">About Us</a></li>
    <li><a (click)="navigateToSection('brands')">Brands</a></li>
    <li><a (click)="navigateToSection('testimonials')">Testimonials</a></li>
    <li><a (click)="navigateToSection('creators')">Creators</a></li>
    <li><a (click)="navigateToSection('company')">Company</a></li>
    <li><a (click)="navigateToContact()" class="contact-link">Contact</a></li>
  </ul>
  <button class="login-btn" (click)="navigateToContact()">
    <div class="login">Get In Touch</div>
  </button>
</nav>

