.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 3600px;
  position: relative;
  overflow: hidden;
}
.ellipse-13 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 515px;
  top: 2814px;
}
.facebook {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 505px;
  top: 2894px;
  width: 93px;
  height: 27px;
}
.ellipse-14 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 689px;
  top: 2814px;
}
.x-logo-picture-download-7-removebg-preview-5 {
  width: 35px;
  height: 32px;
  position: absolute;
  left: 709px;
  top: 2835px;
  object-fit: cover;
  aspect-ratio: 35/32;
}
.x {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 719px;
  top: 2894px;
  width: 14px;
  height: 27px;
}
.ellipse-15 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 863px;
  top: 2814px;
}
.ellipse-18 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 1037px;
  top: 2809px;
}
.rectangle-1 {
  background: #ffeded;
  width: 693px;
  height: 693px;
  position: absolute;
  left: 747px;
  top: 0px;
}
.rectangle-123 {
  background: #ffe1e1;
  border-radius: 60px;
  width: 1336px;
  height: 101px;
  position: absolute;
  left: 51px;
  top: 22px;
  box-shadow: 0px 4px 8.9px -2px rgba(0, 0, 0, 0.25);
}
.linkedin-icon{
  width: 40px;
    height: 40px;
    position: absolute;
    left: 881px;
    top: 2832px;
  object-fit: cover;
  aspect-ratio: 1;
}
.linked-in {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 856px;
  top: 2894px;
  width: 88px;
  height: 27px;
}
.youtube {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1034px;
  top: 2889px;
  width: 80px;
  height: 27px;
}
.company {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 875px;
  top: 64px;
}
.about-us {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 64px;
}
.brands {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 235px;
  top: 63px;
}
.testimonials {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 352px;
  top: 61px;
}
.creators {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 519px;
  top: 61px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1012px;
  top: 64px;
}
.rectangle-3 {
  background: rgba(255, 255, 255, 0.11);
  border-style: solid;
  border-color: #ff0000;
  border-width: 1px;
  width: 120px;
  height: 34px;
  position: absolute;
  left: 1205px;
  top: 56px;
}
.login a{
  color: #f82d19;
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 1244px;
  top: 63px;
}
.login a:hover{
    font-size: 16px;
}
.line-1 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.34);
  border-width: 5px 0 0 0;
  width: 529px;
  height: 0px;
  position: absolute;
  left: 820px;
  top: 165px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-3 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.34);
  border-width: 5px 0 0 0;
  width: 514.06px;
  height: 0px;
  position: absolute;
  left: 1321px;
  top: 653.03px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-4 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.34);
  border-width: 5px 0 0 0;
  width: 514px;
  height: 0px;
  position: absolute;
  left: 842px;
  top: 653px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-5 {
  margin-top: -4px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.5);
  border-width: 4px 0 0 0;
  width: 32px;
  height: 0px;
  position: absolute;
  left: 119px;
  top: 442px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-2 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.34);
  border-width: 5px 0 0 0;
  width: 529px;
  height: 0px;
  position: absolute;
  left: 820px;
  top: 633.9px;
  transform-origin: 0 0;
  transform: rotate(-0.098deg) scale(1, 1);
}
.khushbooPortfolio {
  border-radius: 170px;
  width: 280px;
  height: 420px;
  position: absolute;
  left: 941px;
  top: 186px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 280/420;
}
.divya-s-founder-at-big-bets-ai-1-removebg-preview-1 {
  width: 50px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 1%;
  object-fit: cover;
  aspect-ratio: 1;
}
.name {
  color: rgba(248, 45, 25, 0.64);
    text-align: left;
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 119px;
    top: 180px;
}
.an-actress-social-media-influencer {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 247px;
  width: 593px;
}
.sub-title {
  color: rgba(99, 12, 12, 0.67);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 139px;
  top: 410px;
}
.rectangle-89 {
  background: rgba(248, 45, 25, 0.49);
  border-radius: 9px;
  width: 141px;
  height: 38px;
  position: absolute;
  left: 119px;
  top: 493px;
}
.rectangle-90 {
  background: #ffffff;
  border-radius: 9px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.5);
  border-width: 2px;
  width: 137px;
  height: 38px;
  position: absolute;
  left: 318px;
  top: 493px;
}
.contact-me {
  color: rgba(248, 45, 25, 0.49);
  text-align: left;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 344px;
  top: 503px;
}
.check-out-my {
  color: #5f5e5e;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 137px;
  top: 701px;
}
.line-6 {
  margin-top: -2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.53);
  border-width: 2px 0 0 0;
  width: 33px;
  height: 0px;
  position: absolute;
  left: 275px;
  top: 710px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-1 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 46px;
  height: 45px;
  position: absolute;
  left: 344px;
  top: 688px;
}
.ellipse-4 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 46px;
  height: 45px;
  position: absolute;
  left: 432px;
  top: 688px;
}
.ellipse-5 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 46px;
  height: 45px;
  position: absolute;
  left: 520px;
  top: 688px;
}
.vector-1 {
  width: 459px;
  height: 39px;
  position: absolute;
  left: 119px;
  top: 614px;
  overflow: visible;
}
.insta-logo-1 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 356px;
  top: 699px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-9 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 66px;
  height: 62px;
  position: absolute;
  left: 921px;
  top: 232px;
}
.insta-logo-3 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 938px;
  top: 248px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-11 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 66px;
  height: 65px;
  position: absolute;
  left: 926px;
  top: 512px;
}
img.x-logo {
  width: 24px;
  height: 23px;
  position: absolute;
  left: 467px;
  top: 699px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.ellipse-10 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 66px;
  height: 65px;
  position: absolute;
  left: 1205px;
  top: 378px;
}
img.x-logo1 {
  width: 34px;
  height: 33px;
  position: absolute;
  left: 1255px;
  top: 394px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.rectangle-91 {
  background: #ffffff;
  width: 1440px;
  height: 539px;
  position: absolute;
  left: -20px;
  top: 794px;
}
.rectangle-98 {
  background: #ffeded;
  width: 1440px;
  height: 609px;
  position: absolute;
  left: -1px;
  top: 1339px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-111 {
  background: #ffeded;
  width: 1440px;
  height: 648px;
  position: absolute;
  left: 0px;
  top: 1994px;
}
.rectangle-115 {
  background: #ffeded;
  width: 1440px;
  height: 614px;
  position: absolute;
  left: -1px;
  top: 2997px;
}
.kk-1 {
  border-radius: 26px;
  width: 306px;
  height: 201px;
  position: absolute;
  left: 560px;
  top: 3190px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 306/201;
}
.article-and-news {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 518px;
  top: 3024px;
}
.confernce-event-and-podcast {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: 2100px;
}
.be-more-concerned-with-your-character-than-your-reputation-if-you-want-to-fly-give-up-everything-that-weighs-you-down {
  color: rgba(103, 29, 29, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 1696px;
  width: 455px;
}
.be-more-concerned-with-your-character-than-your-reputation-if-you-want-to-fly-give-up-everything-that-weighs-you-down2 {
  color: rgba(103, 29, 29, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 2284px;
}
.my-story-of-empowering-women-through-social-media {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 45px;
  line-height: 145.04%;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 1439px;
  width: 510px;
  height: 218px;
}
.div {
  color: rgba(248, 45, 25, 0.4);
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 1210px;
  top: 1435px;
}
.video-views {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1028px;
  top: 1509px;
}
.the-impact-of-social-media-on-the-tv-industry {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 173px;
  top: 814px;
  width: 1110px;
  height: 66px;
}
.rectangle-92 {
  background: #fffefe;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 349px;
  height: 359px;
  position: absolute;
  left: 130px;
  top: 930px;
  box-shadow: 0px 4px 4px 0px rgb(252 121 121 / 25%);
}
.rectangle-117 {
  background: rgba(255, 254, 254, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 364px;
  height: 383px;
  position: absolute;
  left: 105px;
  top: 3146px;
}
.rectangle-118 {
  background: rgba(255, 254, 254, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 364px;
  height: 383px;
  position: absolute;
  left: 531px;
  top: 3146px;
}
.rectangle-119 {
  background: rgba(255, 254, 254, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 364px;
  height: 383px;
  position: absolute;
  left: 949px;
  top: 3146px;
}
.instagram-followers {
  color: rgba(248, 45, 25, 0.5);
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 234px;
  top: 1090px;
}
._123-k {
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 241px;
  top: 1003px;
}
._123-k-span {
  color: #671d1d;
}
._123-k-span2 {
  color: rgba(248, 45, 25, 0.5);
}
.bigbets-content {
  color: #630c0c;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 256px;
  top: 967px;
}
.insta-logo-4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 226px;
  top: 966px;
  object-fit: cover;
  aspect-ratio: 1;
}
.the-temptation-to-quit-will-be-the-greatest-just-before-you-are-about-to-succeed {
  color: rgba(103, 29, 29, 0.7);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 1136px;
  width: 333px;
}
.rectangle-95 {
  border-radius: 10px;
  width: 125px;
  height: 45px;
  position: absolute;
  left: 232px;
  top: 1199px;
  overflow: visible;
  background: rgba(248, 45, 25, 0.49);
}
.follow-me {
  color: #ffffff;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 256px;
  top: 1212px;
}
.rectangle-124 {
  background: #fffefe;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 349px;
  height: 359px;
  position: absolute;
  left: 536px;
  top: 930px;
  box-shadow: 0px 4px 4px 0px rgb(252 121 121 / 25%);
}
.instagram-followers2 {
  color: rgba(248, 45, 25, 0.5);
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 640px;
  top: 1090px;
}
._210-k {
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 645px;
  top: 1003px;
}
._210-k-span {
  color: #671d1d;
}
._210-k-span2 {
  color: rgba(248, 45, 25, 0.5);
}
.bigbets-content2 {
  color: #630c0c;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 662px;
  top: 967px;
}
.the-temptation-to-quit-will-be-the-greatest-just-before-you-are-about-to-succeed2 {
  color: rgba(103, 29, 29, 0.7);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 544px;
  top: 1136px;
  width: 333px;
}
.x-logo-picture-download-7-removebg-preview-6 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 655px;
  top: 967px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.rectangle-125 {
  border-radius: 10px;
  width: 125px;
  height: 45px;
  position: absolute;
  left: 638px;
  top: 1199px;
  overflow: visible;
  background: rgba(248, 45, 25, 0.49);
}
.follow-me2 {
  color: #ffffff;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 662px;
  top: 1212px;
}
.rectangle-126 {
  background: #fffefe;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.33);
  border-width: 3px;
  width: 349px;
  height: 359px;
  position: absolute;
  left: 921px;
  top: 930px;
  box-shadow: 0px 4px 4px 0px rgb(252 121 121 / 25%);
}
.linkedin-icon-2{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1017px;
  top: 965px;
  object-fit: cover;
  aspect-ratio: 1;
}
.instagram-followers3 {
  color: rgba(248, 45, 25, 0.5);
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1025px;
  top: 1090px;
}
._123-k2 {
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 1032px;
  top: 1003px;
}
._123-k-2-span {
  color: #671d1d;
}
._123-k-2-span2 {
  color: rgba(248, 45, 25, 0.5);
}
.bigbets-content3 {
  color: #630c0c;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 967px;
}
.the-temptation-to-quit-will-be-the-greatest-just-before-you-are-about-to-succeed3 {
  color: rgba(103, 29, 29, 0.7);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 929px;
  top: 1136px;
  width: 333px;
}
.rectangle-127 {
  border-radius: 10px;
  width: 125px;
  height: 45px;
  position: absolute;
  left: 1023px;
  top: 1199px;
  background: rgba(248, 45, 25, 0.49);
  overflow: visible;
}
.follow-me3 {
  color: #ffffff;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 1047px;
  top: 1212px;
}
.follow-me4 {
  position: absolute;
  left: 147px;
  top: 503px;
  cursor: pointer ;
}
.followme a{
  color: #ffffff !important;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.followme {
  background: none;
  border: none;
}
.followme a:hover{
    color: #f82d19;
}
.rectangle-100 {
  background: rgba(248, 45, 25, 0.43);
  border-radius: 10px;
  width: 125px;
  height: 45px;
  position: absolute;
  left: 108px;
  top: 1819px;
}
.about-me {
  color: #ffffff;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 135px;
  top: 1832px;
}
.rectangle-113 {
  background: rgba(248, 45, 25, 0.43);
  border-radius: 10px;
  width: 149px;
  height: 45px;
  position: absolute;
  left: 101px;
  top: 2451px;
}
.view-all-events {
  color: #ffffff;
  text-align: center;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 121px;
  top: 2465px;
}
._100-k {
  color: #671d1d;
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 1024px;
  top: 1435px;
}
.div2 {
  color: rgba(248, 45, 25, 0.4);
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  left: 1163px;
  top: 1569px;
}
.comments {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1028px;
  top: 1646px;
}
._10-k {
  color: #671d1d;
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 1024px;
  top: 1574px;
}
.div3 {
  color: rgba(248, 45, 25, 0.4);
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  left: 1219px;
  top: 1716px;
}
.followers {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 1028px;
  top: 1797px;
}
._600-k {
  color: #671d1d;
  text-align: center;
  font-family: "LibreBodoni-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 1024px;
  top: 1722px;
}
.line-42 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  opacity: 0.1;
  width: 1140px;
  height: 0px;
  position: absolute;
  left: 156px;
  top: 4021px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.products {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  left: 531px;
  top: 3697px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.resources {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  left: 843px;
  top: 3697px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.company2 {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  left: 1144px;
  top: 3697px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-126 {
  height: auto;
  position: absolute;
  left: 692px;
  top: 4061px;
  overflow: visible;
}
.ellipse-12 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 340px;
  top: 2814px;
}
.insta-logo-5 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 360px;
  top: 2833px;
  object-fit: cover;
  aspect-ratio: 1;
}
.event {
  border-radius: 26px;
  width: 685px;
  height: 427px;
  position: absolute;
  left: 640px;
  top: 2106px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 685/427;
}
.ellipse-17 {
  background: #fffdfd;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(248, 45, 25, 0.4);
  border-width: 3px;
  width: 88px;
  height: 88px;
  position: absolute;
  left: 940px;
  top: 2284px;
}
.insta-logo-6 {
  width: 43px;
  height: 44px;
  position: absolute;
  left: 963px;
  top: 2306px;
  object-fit: cover;
  aspect-ratio: 43/44;
}
.article1 {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 3405px;
  width: 300px;
  height: 139px;
}
.follow-me-on-social-media {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 469px;
  top: 2692px;
}
.instagram {
  color: #671d1d;
  text-align: center;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 327px;
  top: 2894px;
  width: 100px;
  height: 27px;
}
.images-removebg-preview-1 {
  width: 38px;
    height: 38px;
    position: absolute;
    left: 535px;
  top: 2833px;
  object-fit: cover;
  aspect-ratio: 24/35;
}
.article2 {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 567px;
  top: 3405px;
  width: 300px;
  height: 111px;
}
.article3 {
  color: #671d1d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 984px;
  top: 3398px;
  width: 300px;
  height: 120px;
}
.youtubelogo {
      width: 45px;
    height: 45px;
    position: absolute;
    left: 1052px;
    top: 2825px;
  object-fit: cover;
  aspect-ratio: 50/35;
}
._1747699401777-d-1 {
  border-radius: 26px;
  width: 305px;
  height: 195px;
  position: absolute;
  left: 135px;
  top: 3191px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 305/195;
}
.event1 {
  border-radius: 26px;
  width: 311px;
  height: 194px;
  position: absolute;
  left: 975px;
  top: 3191px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 311/194;
}
.KKStory {
  border-radius: 190px;
  width: 327px;
  height: 475px;
  position: absolute;
  left: 595px;
  top: 1401px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 327/475;
}
.fb-logo-2 {
    width: 31px;
    height: 31px;
    position: absolute;
    left: 528px;
    top: 695px;
  object-fit: cover;
  aspect-ratio: 20/29;
}
.fb-logo {
  width: 40px;
    height: 40px;
    position: absolute;
    left: 940px;
    top: 525px;
  object-fit: cover;
  aspect-ratio: 24/35;
}