<section class="testimonial-section" id="testimonials">
  <div class="container">
  <div class="testimonial-left" appFadeIn>
    <span class="tag">TESTIMONIALS</span>
    <h2>
      See how customers
      <strong>drive impact</strong>
    </h2>
    <!-- <button class="cta-btn" (click)="openPortfolioInNewTab()">See case studies</button> -->
  </div>

  <div class="testimonial-right" appFadeIn delay="0.3s">
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="assets/images/khushbootestimonial.png" alt="Khushboo Kamal" />
        <div class="play-btn">
          <a href="https://www.youtube.com/shorts/E5lD3Fe3XoY">
          <i class="fa-solid fa-play"></i></a>
        </div>
      </div>

      <div class="testimonial-text">
        <div class="platform">
          <i class="fab fa-youtube" aria-hidden="true"></i> Youtube
        </div>
        <p>
          "Before Circle, managing auditions and portfolios was overwhelming. Now everything I need as an actress is in one bundle."
        </p>
        <h4>Khushboo Kamal</h4>
        <span>Actress</span>
        <!-- <button class="read-more-btn">Read More</button> -->
      </div>
    </div>

    <!-- Arrows -->
    <!-- <div class="testimonial-nav">
      <button class="nav-btn prev"><i class="fa fa-arrow-left"></i></button>
      <button class="nav-btn next"><i class="fa fa-arrow-right"></i></button>
    </div> -->
  </div>
  </div>
</section>
